@import './base.css';

#app {
  font-weight: normal;
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

a, p, h1, h2, h3 {
  pointer-events: all;
}

@media (min-width: 1024px) {
}
